{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Shopping Cart</h2>
      <hr />
    </div>
  </div>
  <div class="row my-1">
    {% if cart_items %} {% for item in cart_items %}
    <div class="col-6 col-md-4 my-1">
      <img
        class="cart-product-image"
        src="{{ item.product.image.url }}"
        alt="{{ item.product.name }}"
      />
    </div>
    <div class="col-12 col-md-8">
      <h2>{{ item.product.name }}</h2>
      <hr />
      <p>{{ item.product.description }}</p>
      <p>Made in {{ item.product.nation_of_origin }}</p>
      <p>Price: £{{ item.product.price }}</p>
      <p>Quantity:</p>
      <form method="POST" class="quantity" action="{% url 'edit_cart' item.item_id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-8">
                <input
                    class="form-control quantity"
                    name="quantity"
                    type="number"
                    value="{{ item.quantity }}"
                    min="0"
                    max="99"
                    data-item_id="{{ item.item_id }}"
                    id="id_qty_{{ item.item_id }}"
                    />
            </div>
            <div class="col-12 col-md-4">    
                <input
                    type="submit"
                    class="edit-products-button btn btn-sm text-uppercase py-2 exo"
                    value="Update Quantity"
                    ></input>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}"> 
            </div>
        </div>              
      </form>
      <br>
      <br>
      <br>
    </div>
    <br />
    {% endfor %} {% else %}
    <h5>Your cart is empty would you like to carry on shopping?</h5>
    <button type="button" class="btn btn-dark">Keep Shopping</button>
    {% endif %}
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-right"></i>
        </span>
        <span class="text-uppercase">Checkout</span>
    </a>
  </div>
</div>
{% endblock %}
