{% extends "base.html" %} {% load static %} {% block content %}
<!-- About page with info about our company -->
<div class="container about-page">
  <div class="row">
    <div class="col-12 my-4">
      <h3 class="logo-font">
        About us
      </h3>
    </div>
    <div class="col-12 col-md-8">
      <p>
        In 2020 fashion makes up 10% of all carbon emmisions in the world. That is more than the entire airline industry.
        Fast fashion is a blight on the environment whether that is in landfills, from carbon emmisions or straight up chemical pollution in our rivers, lakes, seas and air.

        At Whole Apparel we believe there are 3 costs when making clothes: The material costs, the labour cost and the environmental costs. Our ethos is to recognise all 3 of these costs, and pay what is owed. To the makers of our clothes and the sourcers materials of the we are 100% Fair Trade. We do not work with any companies, sellers, makers, sourcers unless they are ethical. We also make sure that all material is sustainably sourced meaning no de-forestation and any carbon emmisions are measured and offset in other ways.

        Not only this we also sell many clothes that are Vegan, Chemical Free, Hypoallergenic and naturally dyed. These 

        Our mission is to show that there is a way of making and selling clothes where exploitation doesn't happen anywhere on the supply chain, whether that is environmental or worker exploitation.
      </p>
    </div>
    <div class="col-12 col-md-8">
    </div>
  </div>
</div>
{% endblock %}
