{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>My Profile</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 order-lg-last mb-5">
      <h3>Currently in cart</h3>
      <hr />
      {% for item in cart_items %}
      <h5>{{ item.product.name }}</h5>
      <hr />
      <div class="row">
        <div class="col-8">
          <p>Made in {{ item.product.nation_of_origin }}</p>
          <p>Price: £{{ item.product.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
        <div class="col-4">
          <img
            class="checkout-product-image"
            src="{{ item.product.image.url }}"
            alt="{{ item.product.name }}"
          />
        </div>
      </div>
      {% endfor %}
      <hr class="my-0" />
      <br />
      <div class="row text-black text-right">
        <div class="col-7 offset-2">
          <p class="my-0">Order Total:</p>
        </div>
        <div class="col-3">
          <p class="my-0">£{{ total | floatformat:2 }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <p class="text-muted">Your Default Shipping Information</p>
      <form
        class=""
        action="{% url 'profile' %}"
        method="POST"
        id="update-profile-form"
      >
        {% csrf_token %} {{ form|crispy }}
        <button id="submit-button" class="btn btn-black rounded-0">
          <span class="font-weight-bold">Update Info</span>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
        </button>
      </form>
    </div>

    {% endblock %}
  </div>
</div>
