{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Thank you</h2>
      <hr />
    </div>
    <div class="col-12">
      <p>Your order is on the way!</p>
    </div>
  </div>
  <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
      <i class="fas fa-chevron-right"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
  </a>
</div>
{% endblock %}
