html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
	font-family: "Exo 2", sans-serif;
}

.title-container{
    text-align: center;
}

.title-logo{
    display: inline-block;
    font-size: 3.6rem;
}


.logo-font {
    text-transform: uppercase;
}


.get-products-button {
    background: #c2b280;
    color: black;
    min-width: 260px;
    margin-top: 50px;
}

.get-products-button:hover,
.get-products-button:active,
.get-products-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #cabc91;
    color: black;
    border: solid black 1px;;
}

.card-container {
    text-align: center;
}

.card {
    display: inline-block;
    margin-bottom: 10px;
}

.text-black {
    color: #000 !important;
}

.spacer {
    height: 100px;
}

.get-product-image {
    width: 100%;
}

.cart-product-image {
    width: 80%;
}

.edit-products-button {
    background: #c2b280;
    color: black;
    
}

.edit-products-button:hover,
.edit-products-button:active,
.edit-products-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #cabc91;
    color: black;
    border: solid black 1px;;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
