html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
	font-family: "Exo 2", sans-serif;
}

.title-container{
    text-align: center;
}

.title-logo{
    display: inline-block;
    font-size: 3.6rem;
}


.logo-font {
    text-transform: uppercase;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
