{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container spacer">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img
        class="get-product-image"
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
      />
    </div>
    <div class="col-md-1"></div>
    <div class="col-sm-12 col-md-5">
      <h2>{{ product.name }}</h2>
      <hr />
      <p>{{ product.description }}</p>
      <br />
      <h5>{{ product.sustainable_trait.name }}</h5>
      <p>{{ product.sustainable_trait.description }}</p>
      <br />
      <p>Made in {{ product.nation_of_origin }}, {{ product.continent.name }}</p>
      <br>
      <h5>£{{ product.price }}</h5>
      <br />
      <form class="form" method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <div class="addcart_form row">
          <div class="col-8 row mx-1 input-group">
            <input
              class="form-control quantity"
              name="quantity"
              type="number"
              value="1"
              min="1"
              max="99"
              data-item_id="{{ product.id }}"
              id="id_qty_{{ product.id }}"
            />
          </div>
          <div class="col-12">
            <input
              type="submit"
              class="btn btn-outline-black rounded-0 btn-lg"
              value="Add to Cart"
              ></input>
              <input type="hidden" name="redirect_url" value="{{ request.path }}">
          </div>
          <div class="col-12">
            <a href="{% url 'products' %}" class="btn btn-outline-black       rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
          </div>
          <div class="col-12">
            {% if request.user.is_superuser %}
                <a href="{% url 'edit_product' product.id %}" class="btn 
                            btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="far fa-edit"></i>
                    </span>
                    <span class="text-uppercase">Edit</span>
                </a>
                <a href="{% url 'remove_product' product.id %}" class="btn 
                            btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="far fa-trash-alt"></i>
                    </span>
                    <span class="text-uppercase">Remove</span>
                </a>
            {% endif %}    
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
